services:
  api:
    container_name: api_dev
    image: api-dev
    build:
      context: .
      target: development
      dockerfile: ./Dockerfile
    command: yarn start:dev
    ports:
      - '3000:3000'
      - '9229:9229' # Debug port
    networks:
      - core-network
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - local.env
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    depends_on:
      - mongodb

  mongodb:
    container_name: mongo_dev
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - core-network
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  core-network:
