version: '3.8'

services:
  api:
    container_name: api_prod
    image: api-prod
    build:
      context: .
      target: production
      dockerfile: ./Dockerfile
    command: npm run start:prod
    networks:
      - core-network
    volumes:
      - api_data:/usr/src/app/data
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: '0.5'
          memory: '512M'
        reservations:
          cpus: '0.2'
          memory: '256M'

  nginx:
    container_name: nginx
    image: nginx
    ports:
      - '80:80'
    networks:
      - core-network
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '0.2'
          memory: '128M'
        reservations:
          cpus: '0.1'
          memory: '64M'

volumes:
  api_data:

networks:
  core-network:
