version: '3.8'

services:
  api:
    container_name: api_dev
    image: api-dev
    build:
      context: .
      target: development
      dockerfile: ./Dockerfile
    command: npm run start:debug
    ports:
      - '3000:3000'
    networks:
      - core-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
    depends_on:
      - mongodb

  mongodb:
    container_name: mongo
    image: mongo
    volumes:
      - ./mongo-data:/data/db
    networks:
      - core-network
    restart: unless-stopped

networks:
  core-network:
